<!DOCTYPE html>
<html>
  <head>
<title><%= full_title(yield(:title)) %></title>

<%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "bootstrap", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-responsive", :media => "all" %>
    <%= render 'partials/shim' %>
    <%= stylesheet_link_tag 'application', '<https://fonts.googleapis.com/css?family=Open+Sans:400,300': 'reload'%>
    <!-- <%= stylesheet_link_tag 'application', '<http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css':
    'reload'%>
    <%= javascript_include_tag '<http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js': 'reload' %> -->
  </head>

  <body>

    <%= render 'partials/header'%>
        <div class="container">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %>
            </div>
          <% end %>

          <%= yield %>

          <%= render 'partials/footer'%>
        </div>
      </body>
</html>
