<% provide(:title, @product.name) %>
<div class="container container-others">



<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
<h1><%= @product.name %></h1>

<!-- Product image -->
<%= link_to image_tag("cart.png", alt: "cart") %> </br>

</br>
<ul>


    <% if logged_in? %>
    <%= link_to "edit", edit_product_path %>
    <% end %>


<li>  <%= @product.description %></li>
<li>    $<%= @product.price %> </li>

</ul>
</section>
  </aside>


  <!-- product review -->
  <div class="col-md-8">

  <% if @product.microposts.any? %>
    <h3>Reviews (<%= @product.microposts.count %>)</h3>
  </div>

  <div class="row">

      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
</div>

    <!--posting of review here if logged in -->
    <% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-4">
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <%end%>
  </div>
</div>
